.headerContainer {
    background-color: #5C9B5A;
    color: #FFFFFF;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.loginContainer {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.logo {
    cursor: pointer;
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}
