.backgroundContainer {
  background-color: #f0f4f8;
  min-height: 91.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.registerContainer {
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #2c4446;
  margin-bottom: 20px;
  font-size: 24px;
}

.error {
  color: #d9534f;
  text-align: center;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  color: #2c4446;
  font-weight: 500;
}

.input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
}

.input:focus {
  border-color: #3a5a5d;
  box-shadow: 0 0 5px rgba(58, 90, 93, 0.5);
  outline: none;
}

.submitButton {
  padding: 12px;
  background-color: #3a5a5d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.submitButton:hover {
  background-color: #2c4446;
  transform: translateY(-2px);
}

@media (max-width: 480px) {
  .registerContainer {
    width: 90%;
    margin: 20px auto;
  }
}
