.background {
  background-color: #f0f0f0;
  padding: 20px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
  margin: 10px 0;
  transition: color 0.2s;
}

.title:hover {
  color: #5c9b5a;
}

.dialog {
  border: none;
  border-radius: 12px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.inputGroup {
  margin-bottom: 20px;
  text-align: center;
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.input {
  background-color: #d3d0d0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.submitButton,
.cancelButton {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.submitButton {
  background-color: #4caf50;
  color: white;
}

.submitButton:hover {
  background-color: #45a049;
}

.cancelButton {
  background-color: #f44336;
  color: white;
}

.cancelButton:hover {
  background-color: #d32f2f;
}

.deleteButton {
  margin-top: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c82333;
}
